
.sidebar {
	position: fixed;
	width: 250px;
	top: 55px;
	bottom: 0;
	left: 0;
	z-index: 100;
	box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}

.main {
	position: fixed;
	top: 55px;
	left: 250px;
	bottom: 0;
	right: 0;
}

.inner-sidebar {
	width: 300px;
	left: 250px;
}

.inner-main {
	left: 550px;
}

.note-textarea {
	height: 500px;
}

.note-text-display {
	white-space: pre-line;
}